<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/93fdd66cb9.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

    <title>랜선집사 | 홈페이지</title>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/" class="headerTitle">랜선집사</a>
        <div class="box">
            <button onclick="location.href='/'" class="logout btn">로그아웃</button>
            <button onclick="location.href='/contents'" class="write">글쓰기</button>
        </div>
    </div>


    <div>
        <div class="contentsType">
            <button class="typeLastes base">최신순</button>
        </div>
        <div class="contentsBox" id="boxOfContents">
        </div>
    </div>

</div>
<footer>
    <a href="#" title=”맨위로" class="goTop">
        <i class="fas fa-angle-double-up fa-3x"></i>
    </a>
    <div>
        <div class="footer">
            <img src="../static/html_img/cat3.PNG" class="contactCat">
            <div class="footer_text">
                <h2>Contact Us</h2>
                <p><a href="https://velog.io/@skdud4659">김나영</a></p>
                <p><a href="https://devtaehyundiary.tistory.com/">김태현</a></p>
                <p><a href="">변정섭</a></p>
                <p><a href="">전영진</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="../static/js/index.js"></script>
</body>
</html>

<!-- db~~~find(~~~~.count() -->
<!-- datetime .split("") -->