<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

    <title>랜선집사 | 로그인</title>
</head>
<body>
    <div class="wrap">
        <img src="../static/html_img/paw2.jpg" class="paw2">
        <div class="loginWrap">
            <img src="../static/html_img/cat1.PNG" class="loginCat">
            <h1>랜 선 집 사</h1>
            <div class="loginBox">
                <div class="inputBox">
                    <input type="text" placeholder="아이디" id="id">
                    <input type="password" placeholder="비밀번호" id="pw">
                </div>
                <div class="loginBtns">
                    <button type="button" onclick="login()">로그인하기</button>
                    <button type="button" onclick="location.href='/sign_up'">회원가입</button>
                </div>
            </div>
        </div>
        <p class="desc">랜선집사를 통해 나의 소중한 반려 동물을 맘껏 자랑해주세요!</p>
        <img src="../static/html_img/paw.jpg" class="paw">
    </div>

<script type="text/javascript" src="../static/js/login.js"></script>

</body>
</html>